* {
  color: #fff;
  cursor: default;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100% - 24px);
  width: 350px;
  background: #171717;
}

.background > .toolbar {
  height: 18px;
  width: 100%;
  background: #090909;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.background > .toolbar > small {
  float: left;
  font-size: 0.6rem;
  position: relative;
  top: 2px;
  left: 3px;
  display: none;
}

.background > .toolbar > .tool {
  float: right;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.background > .toolbar > .tool > img {
  height: 10px;
  width: 10px;
}

.background > .header {
  height: 70px;
  width: 100%;
}

.background > .header > .item {
  float: left;
  width: 19.998%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  cursor: pointer;
}

.background > .header > .item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.background > .header > .item:hover, .background > .header > .item.active {
  opacity: 1;
}

.background > .header > .item > img {
  width: 20px;
  cursor: pointer;
}

.background > .header > .item > small {
  cursor: pointer;
}

.background > .content {
  height: calc(100% - 70px - 18px);
  width: 100%;
}

.background > .content > .search {
  width: 100%;
}

.background > .content > .search > input {
  width: 100%;
  height: 25px;
  background: #343434;
  outline: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: text;
  padding: 0 5px;
}

.background > .content > .listbox {
  position: relative;
  top: 1px;
  height: calc(100% - 25px);
  overflow-y: auto;
}

.background > .content > .listbox.hidden {
  display: none;
}

.background > .content > .listbox > .item {
  float: left;
  width: 33.3333%;
  height: 116.3655px;
  cursor: pointer;
  position: relative;
}

.background > .content > .listbox > .item > .top-left {
  position: absolute;
  top: 8px;
  left: 8px;
}

.background > .content > .listbox > .item > img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #343434
}

::-webkit-scrollbar-thumb:hover {
  background: #343434;
}